# ignore all excel files
*.xls
*.xlsx
*.xlsm	
*.csv
venv
# ignore log files
*.log
log.txt

backup/
raw_data/
chatgpt_screenshots
```
output:
```
quick.md
text_data_headings.txt
__pycache__/
